*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(202, 123, 202);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}


img {
    width: 650px;
    height: 385x;
    margin: -120px auto;
 
    
}

.main-section-divOne-title {
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 38px;  
    color: fuchsia;
    text-align: center;
    margin-top: 126px;
    margin-bottom: 26px;

}

h2 {
    
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;  
    color: white;
    text-align: center;
    margin-top: 126px;
    margin-bottom: 26px;

}

input {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgb(202, 123, 202);
    border-radius: 14px;
    height: 74px;
    width: 342px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    opacity: 0.7;
}

.input-min {
    margin-right: 62px;
}

button {
    background: greenyellow;
    box-shadow: 0px 18px 40px rgba(174, 195, 70, 0.35);
    border-radius: 10px;
    width: 342px;
    height: 72px;
    color: fuchsia;
    font-weight: 700;
    font-size: 36px;
    margin-top: 80px;
    cursor: pointer;
}

h1 {
    color: purple;
    font-weight: 700;
    box-shadow: 0px 18px 40px rgba(174, 195, 70, 0.35);
}


button.hover {
    opacity: 0.9;
}

button.active {
    opacity: 0.8;
}