*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: url(./assets/fundo-de-quadro-de-festa-de-ano-novo-festivo-de-fitas-azuis-com-espaco-de-design.jpg);
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o contêiner */
    background-position: center; /* Centraliza a imagem no contêiner */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}


img {
    width: 350px;
    height: 220x;
    margin: -150px auto; 
    padding: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    

}

@keyframes neon{
    from{
        filter: drop-shadow(0 0 0 var(--cor--neon));
    }
    to{
        filter: drop-shadow(0 0 100px var(--cor--neon));
    }

}

img {
    animation: neon 3s alternate infinite ease-in-out;
}

.logo {
    --cor--neon: #ee85da
}

.main-section-divOne-title {
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 40px;  
    color: fuchsia;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 30px;
   
}

h1 {
    color: purple;
    font-weight: 700;
    box-shadow: 0px 20px 46px rgba(174, 195, 70, 0.35);
    text-align: center;
    justify-content: center;
}


h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;  
    color: #a53c8e;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

input {
    background: #efbcef;
    border: 1px solid #92297c;
    border-radius: 14px;
    height: 74px;
    width: 300px;
    padding-left: 20px;
    font-weight: 500px;
    font-size: 40px;
    line-height: 47px;
    color: #92297c;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.input-min {
    margin-right: 50px;
}



button {
    background: greenyellow;
    box-shadow: 0px 18px 40px rgba(174, 195, 70, 0.35);
    border-radius: 10px;
    width: 300px;
    height: 72px;
    color: #c001c8;
    font-weight: 700;
    font-size: 36px;
    margin-top: 30px;
    cursor: pointer;
}
    
button:hover {
    opacity: .8s;
    tra

}

/*button:active {
    opacity: .8s;
}
*/

@media (max-width:1000px){
    li{
       font-size: 15px;
    }
       img {        
        max-width: 200px;
    }

    input {
        margin-left: 50px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }

}

